img {
  border-radius: 50%;
  display: block;
  margin-left: 150px;
  height: 25%;
  width: 25%;
  border: 7px solid;
  border-color: #000;
}

h1 {
  text-align: left;
  display: block;
  font-family: serif;
  margin-left: 150px;
  font-size: 60px;
}

h2 {
  display: block;
  font-family: arial;
}

h3 {
  display: block;
  font-family: arial;
}

body {
  margin: 0;
  background: #78c5b6;
}

p {
  display: inline-block;
  margin-left: 50px;
  margin-right: 150px;
}

a {
  text-align: center;
}

ul {
  display: inline-block;
}

li {
  padding-bottom: 2px;
}

.parent {
  display: flex;
}

.header {
  display: flex;
}

header {
  background-color: #98c5b9;
  flex-grow: 1;
  margin-bottom: 50px;
}

.myinfo {
  flex-grow: 1 1 2;
  flex-basis: 0;
  margin: 6px;
}

#bio {
  flex-grow: 3;
}

#jobs {
  flex-grow: 2;
}
